In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sony\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sony\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sony\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sony\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\sony\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: outcome in c:\users\sony\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sony\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sony\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\sony\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: idna in c:\users\sony\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\sony\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sony\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\sony\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sony\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sony\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sony\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [17]:
import selenium
import pandas as pd 
from selenium import webdriver 
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By 
import time

In [62]:
driver = webdriver.Chrome()

In [63]:
#opening shine page on automated browser 
driver.get('https://www.shine.com/')

In [65]:
job_title = driver.find_element(By.CLASS_NAME,"form-control  ")
job_title.send_keys('Data Analyst')

In [66]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [68]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [81]:
job_titles=[]
job_location=[]
company_names=[]
exp_req=[]

In [92]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Technical Data Analyst',
 'opening data analyst -Bangalore',
 'Senior Data Analyst',
 'Hiring For Data Analyst',
 'Data Analyst',
 'Clinical Data Analyst',
 'Mobility Data Analyst - IN/MKR',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst - Java/Python']

In [98]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
        job_location.append(i.text)
job_location[:10]

['Bangalore\n+9',
 'Bangalore',
 'Bangalore\n+8',
 'Bangalore\n+8',
 'Bangalore',
 'Bangalore\n+4',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+13',
 'Bangalore']

In [99]:
company_name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_name:
    company_names.append(i.text)
company_names[:10]

['krishna consultancy.. hiring for co...',
 'provizor it services pvt. ltd.',
 'harjai computers private limited',
 'harjai computers private limited',
 'true caller',
 'quiscon biotech',
 'bosch group',
 'true caller',
 'rama technical consultants',
 'boyen haddin consulting and technol...']

In [100]:
exp= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in exp:
    exp_req.append(i.text)
exp_req[:10]

['4 to 9 Yrs',
 '2 to 5 Yrs',
 '0 to 2 Yrs',
 '2 to 5 Yrs',
 '3 to 5 Yrs',
 '0 to 2 Yrs',
 '4 to 6 Yrs',
 '5 to 7 Yrs',
 '11 to 21 Yrs',
 '3 to 6 Yrs']

In [103]:
print(len(job_titles[:10])),print(len(company_names[:10])),print(len(exp_req[:10])),print(len(job_location[:10]))

10
10
10
10

(None, None, None, None)

In [107]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=exp_req[:10]
jobs['location']=job_location[:10]
jobs

,title,company,experience_required,location
0,Technical Data Analyst,krishna consultancy.. hiring for co...,4 to 9 Yrs,Bangalore\n+9
1,opening data analyst -Bangalore,provizor it services pvt. ltd.,2 to 5 Yrs,Bangalore
2,Senior Data Analyst,harjai computers private limited,0 to 2 Yrs,Bangalore\n+8
3,Hiring For Data Analyst,harjai computers private limited,2 to 5 Yrs,Bangalore\n+8
4,Data Analyst,true caller,3 to 5 Yrs,Bangalore
5,Clinical Data Analyst,quiscon biotech,0 to 2 Yrs,Bangalore\n+4
6,Mobility Data Analyst - IN/MKR,bosch group,4 to 6 Yrs,Bangalore
7,Senior Data Analyst,true caller,5 to 7 Yrs,Bangalore
8,Data Analyst,rama technical consultants,11 to 21 Yrs,Bangalore\n+13
9,Data Analyst - Java/Python,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore

In [108]:
driver = webdriver.Chrome()

In [109]:
driver.get('https://www.shine.com/')

In [110]:
job_title = driver.find_element(By.CLASS_NAME,"form-control")
job_title.send_keys('Data Scientist')

In [111]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [112]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [113]:
job_titles=[]
job_location=[]
company_names=[]

In [114]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Data Scientist',
 'SR. DATA SCIENTIST',
 'Senior Data Scientist- ML Engineer',
 'Data Scientist III',
 'Data Scientist Hiring Fresher and Experience',
 'Opening for Computer executive, data typing , entry dat ...',
 'Data Scientist',
 'Senior Data Scientist, AWS',
 'Data Scientist Recruitment',
 'Data Engineer II, Amazon WFM Tech Enterprise Data']

In [115]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
        job_location.append(i.text)
job_location[:10]

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+17',
 'Bangalore\n+9',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore\n+17',
 'Bangalore']

In [117]:
company_name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_name:
    company_names.append(i.text)
company_names[:10]

['the fashion cosmo',
 'te connectivity india pvt ltd',
 'sap india pvt ltd',
 'inmobi',
 'kavya staffing solutions',
 'realtech solutions',
 'quiscon biotech',
 'amazon',
 'kavya staffing solutions',
 'amazon']

In [118]:
print(len(job_titles[:10])),print(len(company_names[:10])),print(len(job_location[:10]))

10
10
10

(None, None, None)

In [119]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]

jobs['location']=job_location[:10]
jobs

,title,company,location
0,Data Scientist,the fashion cosmo,Bangalore
1,SR. DATA SCIENTIST,te connectivity india pvt ltd,Bangalore
2,Senior Data Scientist- ML Engineer,sap india pvt ltd,Bangalore
3,Data Scientist III,inmobi,Bangalore
4,Data Scientist Hiring Fresher and Experience,kavya staffing solutions,Bangalore\n+17
5,"Opening for Computer executive, data typing , ...",realtech solutions,Bangalore\n+9
6,Data Scientist,quiscon biotech,Bangalore\n+6
7,"Senior Data Scientist, AWS",amazon,Bangalore
8,Data Scientist Recruitment,kavya staffing solutions,Bangalore\n+17
9,"Data Engineer II, Amazon WFM Tech Enterprise Data",amazon,Bangalore

In [223]:
driver = webdriver.Chrome()
driver.get('https://www.shine.com/')

In [225]:
job_title = driver.find_element(By.CLASS_NAME,"form-control ")
job_title.send_keys('Data Scientist')

In [226]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi')

In [140]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [229]:
filter_button=driver.find_elements(By.XPATH,"//input[@class='form-control']")
for i in filter_button:
    if i.text=="3 To 5 Lakh ":
        i.click()
        break

In [228]:
job_titles=[]
job_location=[]
company_names=[]
exp_req=[]

In [230]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist - Spark/Python/Redshift',
 'Data Scientist - Spark/Python/Redshift',
 'DATA SCIENTIST DELHI',
 'Needed for the post Data Scientist',
 'Urgently need Data Scientist',
 'Data scientist Noida',
 'Data scientist Gurugram',
 'Data _Scientist']

In [233]:
location_tags= driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for i in location_tags:
        job_location.append(i.text)
job_location[:10]

['Noida',
 'Delhi\n+6',
 'Delhi\n+4',
 'Delhi\n+4',
 'Delhi',
 'Delhi\n+8',
 'Delhi\n+8',
 'Noida',
 'Gurugram',
 'Noida\n+7']

In [234]:
company_name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_name:
    company_names.append(i.text)
company_names[:10]

['nokia solutions and networks india ...',
 'quiscon biotech',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'skyleaf consultants',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'seven geomax consulting private lim...',
 'seven geomax consulting private lim...',
 'gfl recruitment private limited']

In [235]:
exp= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in exp:
    exp_req.append(i.text)
exp_req[:10]

['10 to 12 Yrs',
 '0 to 1 Yr',
 '5 to 9 Yrs',
 '5 to 9 Yrs',
 '3 to 6 Yrs',
 '4 to 6 Yrs',
 '4 to 6 Yrs',
 '6 to 9 Yrs',
 '6 to 9 Yrs',
 '1 to 5 Yrs']

In [236]:
print(len(job_titles[:10])),print(len(company_names[:10])),print(len(exp_req[:10])),print(len(job_location[:10]))

10
10
10
10

(None, None, None, None)

In [237]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=exp_req[:10]
jobs['location']=job_location[:10]
jobs

,title,company,experience_required,location
0,Data Scientist,nokia solutions and networks india ...,10 to 12 Yrs,Noida
1,Data Scientist,quiscon biotech,0 to 1 Yr,Delhi\n+6
2,Data Scientist - Spark/Python/Redshift,boyen haddin consulting and technol...,5 to 9 Yrs,Delhi\n+4
3,Data Scientist - Spark/Python/Redshift,boyen haddin consulting and technol...,5 to 9 Yrs,Delhi\n+4
4,DATA SCIENTIST DELHI,skyleaf consultants,3 to 6 Yrs,Delhi
5,Needed for the post Data Scientist,deuglo infosystem private limited,4 to 6 Yrs,Delhi\n+8
6,Urgently need Data Scientist,deuglo infosystem private limited,4 to 6 Yrs,Delhi\n+8
7,Data scientist Noida,seven geomax consulting private lim...,6 to 9 Yrs,Noida
8,Data scientist Gurugram,seven geomax consulting private lim...,6 to 9 Yrs,Gurugram
9,Data _Scientist,gfl recruitment private limited,1 to 5 Yrs,Noida\n+7

In [149]:
driver = webdriver.Chrome()

In [150]:
driver.get('https://www.flipkart.com/')

In [152]:
search_product = driver.find_element(By.CLASS_NAME,"Pke_EE")
search_product.send_keys('Sunglasses')

In [160]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [161]:
B_name=[]
Price=[]
P_desc=[]

In [178]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
   
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [179]:
 B_name[:100]

['VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'STACTOR',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'Singco India',
 'VINCENT CHASE',
 'Rich Club',
 'Sunglassess',
 'Fastrack',
 'Eyewearlabs',
 'Eyewearlabs',
 'ROYAL SON',
 'eyedens',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'GANSTA',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Singco India',
 'VINCENT CHASE',
 '90stethix',
 'ROADWAY',
 'Eyewearlabs',
 'ROZZETTA CRAFT',
 'Fastrack',
 'shah collections',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'ROYAL SON',
 'CLICKEDIN',
 'PIRASO',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'STACTOR',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'Singco India',
 'VINCENT CHASE',
 'Rich Club',
 'Sunglassess',
 'Fastrack',
 'Eyewearlabs',
 'Eyewearlabs',
 'ROYAL SON',
 'eyedens',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'GANSTA',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Singco India',
 'VINCENT CHASE',
 '90stethix',
 'ROADWAY',
 'Eyewearlabs',
 'ROZZETTA CRAFT',
 'Fastrack',
 'shah collections',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'ROYAL SON',
 'CLICKEDIN',
 'PIRASO',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'STACTOR',
 'VINCENT CHASE',
 'Fastrack',
 'Rich Club',
 'Singco India',
 'VINCENT CHASE',
 'Rich Club',
 'Sunglassess',
 'Fastrack',
 'Eyewearlabs',
 'Eyewearlabs',
 'ROYAL SON',
 'eyedens',
 'Fastrack']

In [180]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

In [181]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]

In [182]:
sun_gl

,Brand_name,P_price,Pr_desc
0,VINCENT CHASE,"₹549₹1,99972% off",UV Protection Wayfarer Sunglasses (59)
1,VINCENT CHASE,"₹849₹1,99957% off","Polarized, UV Protection Round Sunglasses (50)"
2,Fastrack,₹499₹89944% off,UV Protection Rectangular Sunglasses (Free Size)
3,Fastrack,"₹799₹1,39942% off",UV Protection Aviator Sunglasses (58)
4,Fastrack,₹549₹99945% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."
...,...,...,...
95,Eyewearlabs,₹549₹89938% off,UV Protection Wayfarer Sunglasses (Free Size)
96,Eyewearlabs,"₹799₹4,19980% off",UV Protection Shield Sunglasses (Free Size)
97,ROYAL SON,"₹949₹1,99952% off",UV Protection Over-sized Sunglasses (60)
98,eyedens,"₹599₹1,09945% off","UV Protection, Riding Glasses Retro Square, Re..."
99,Fastrack,"₹488₹1,29962% off",by Lenskart UV Protection Clubmaster Sunglasse...

In [183]:
driver = webdriver.Chrome()

In [184]:
driver.get('https://www.flipkart.com/')

In [192]:
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g

In [193]:
search_g.send_keys('sneakers')

In [ ]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [195]:

B_name=[]
Price=[]
P_desc=[]

In [196]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [198]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

In [201]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl

,Brand_name,P_price,Pr_desc
0,HOTSTYLE,₹398₹99960% off,Sneakers For Men
1,aadi,"₹279₹1,99986% off","Lightweight,Comfort,Summer,Trendy,Walking,Outd..."
2,asian,"₹822₹1,69951% off",Sneakers For Men
3,asian,₹622₹89930% off,Sneakers For Men
4,U.S. POLO ASSN.,"₹1,558₹2,99948% off",CLARKIN Sneakers For Men
...,...,...,...
95,WOODLAND,"₹341₹1,29973% off",Sneakers For Men
96,Kraasa,"₹759₹2,19965% off",kardam&sons luxury fashionable Stylish Light W...
97,RapidBox,"₹384₹1,59975% off","Lightweight,Comfort,Summer,Trendy,Walking,Outd..."
98,Takshter,"₹279₹1,99986% off",Sneakers For Men
99,HRX by Hrithik Roshan,"₹3,330₹7,49955% off",Spring Edge Alpha 1 Sneakers For Men

In [202]:
driver = webdriver.Chrome()

In [203]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [206]:
rating = []
review = []
full_review=[]

In [219]:
for i in range(3):
    ratings=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    reviews=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    full_reviews =driver.find_elements(By.XPATH,"//span[@class='_1H-bmy']")
    
    for j  in ratings:
        rating.append(j.text)
    rating[:100]    
    
    
    
    for k in reviews:
        review.append(k.text)
    review[:100] 
    
    
    for l in full_reviews:
        full_review.append(l.text)
    full_review[:100]

In [220]:
print(len(rating[:100])),print(len(review[:100])),print(len(full_review[:100]))

100
100
100

(None, None, None)

In [221]:
iphone=pd.DataFrame({})
iphone['Ratings']=rating[:100]
iphone['Reviews']=review[:100]
iphone['Full_review']=full_review[:100]
iphone

   Ratings              Reviews Full_review
0        5  Best in the market!
1        5            Wonderful
2        5    Worth every penny
3        5            Must buy!
4        5       Classy product
..     ...                  ...         ...
95       5             Terrific
96       5            Fabulous!
97       5            Just wow!
98       5       Classy product
99       5            Must buy!

[100 rows x 3 columns]

In [222]:
driver = webdriver.Chrome()